<div>
    <mat-toolbar id='nav' class="navbar navbar">
        <ul>
            <div class="container">
                <!-- <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="pages">login</a></li> -->
                <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="pages">Clientes</a></li>
                <li><a routerLink="/Registro" routerLinkActive="active" ariaCurrentWhenActive="pages">Registrar
                        Cliente </a>
                <li><a class="git" href="https://github.com/collym97" target="_blank">Git</a>


                </li>



            </div>

        </ul>





    </mat-toolbar>
</div>