

/* Nuevo login */
* {
    overflow-y: hidden;
    overflow-x: hidden;
}

.card {
    padding: 200px 60px;
    margin-top: 30px;
    margin-bottom: 60px;
    /* border: none !important; */
    box-shadow: 0 6px 12px 0 rgba(133, 56, 56, 0.925);
}

.blue-text {
    color: #ad0000
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 5px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}



button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

#btn {
    position: relative;

}

.opt {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #b30000;
    outline-width: 0;
    font-weight: 400;
    height: 35px;
    font-size: medium;
}

img {
    width: min-content;
    width: 400px;
    top: 80px;
    right: 650px;
    position: absolute;
    border-radius: 90%;
    border-style: double;
    border-color: aliceblue;
}
.alert {
    color: red;


}