<div class="container">

    <form [formGroup]="register" (ngSubmit)="Enviar(register.value) ">

        <h2 id="log">Registrate para acceder</h2>
        <mat-label>Gmail</mat-label>
        <input type="email" formControlName="email" required maxlength="30">
        <mat-label>Password</mat-label>


        <input type="password" formControlName="password" required maxlength="30">



        <button class="btn1" mat-raised-button [disabled]="register.invalid" type="submit">Register</button>
        <button class="btn2" mat-raised-button (click)="log()">Login</button>
        <div *ngIf="register.touched ">
            <h5 ngClass="alert">Debes completar los campos</h5>

        </div>
    </form>

</div>