<app-boton></app-boton>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Registrar cliente</h3>
            <div class="card">

                <form [formGroup]="crud" class="form-card" (ngSubmit)="ondSumbit()">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Nombre<span class="text-danger"> *</span></label>
                            <input type="text" id="fname" formControlName="firstname"
                                placeholder="Enter your first name" onblur="validate(1)" maxlength="30" minlength="3">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Apellido<span class="text-danger"> *</span></label>
                            <input type="text" id="lname" formControlName="lastname" placeholder="Enter your last name"
                                onblur="validate(2)" maxlength="30" minlength="3">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Gmail<span class="text-danger">
                                    *</span></label> <input type="text" id="email" formControlName="Gmail"
                                placeholder="" onblur="validate(3)" maxlength="30" minlength="3"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Telefono<span class="text-danger"> *</span></label>
                            <input type="tel" id="mob" formControlName="phone" placeholder="" onblur="validate(4)"
                                maxlength="30" minlength="3">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Fecha<span class="text-danger"> *</span></label> <input
                                type="date" id="job" formControlName="fecha" placeholder="" onblur="validate(5)"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Inscripción<span class="text-danger"> *</span></label>
                            <select class="opt" formControlName="plan">
                                <option value="1 mes 500 RD$">1/mes/500/RD$</option>
                                <option value="2 meses 1000 RD$">2/meses/1000/RD$</option>
                                <option value="3 meses 2000 RD$">3/meses/2000/RD$</option>
                            </select>
                        </div>
                    </div>


                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6">
                            <button class="btn btn-dark" [disabled]="crud.invalid">
                                Guardar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>